.body-container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.route-job {
	padding: 30px;
	background-color: #EEE;
}

.colour {
	height: 100px;

	&.c1 { background-color: @c1; }
	&.c2 { background-color: @c2; }
	&.c3 { background-color: @c3; }
	&.c4 { background-color: @c4; }
}

.glyphicon-list,
.icomoon-list {
	display: none;
}

ul.glyphicons-list {
	overflow: hidden;

	li {
		.border (1px solid @c3, 0px);
		float: left;
		width: 10%;
		height: 150px;
		margin: 5px;
		padding: 10px 8px;

		text-align: center;
		background-color: #EEE;

		span.glyphicon {
			display: block;
			margin: 0px 0px 10px 0px;
		}
	}
}