.breadcrumb {
  margin: 0px 0px @space 0px;
  list-style: none;

  & > li {
    display: inline-block;
    margin-right: 2px;

    &:last-child {
      a {
        &:after {
          content: none;
        }
      }
    }

    &.active {
      a {
        .link (@a-color-hover, @a-color-hover, underline, underline);
      }
    }
  }

  a {
    .link (@a-color, @a-color-hover);

    &:after {
      content: "\e258";
      padding-left: 8px;

      font-family: @glyphicon;
      font-size: 8px;
      color: @a-color;
    }
  }
}

/* XS */
@media (max-width: @screen-xs-max) {
  .breadcrumb {
    li {
      display: block;
      margin: 0px;
    }
  }
}
/* end XS */