// CORE
@import url('./core/core.less'); //xstrap core
@import url('vars.less');

// COMPONENTS
@import url('../../components/grid/less/grid.less'); //grid

// @import url('../../extra/glyphicons/less/glyphicons.less');
/*@import url('../../components/icomoon/less/icomoon.less');
@import url('../../components/lists/less/lists.less');
@import url('../../components/buttons/less/buttons.less');
@import url('../../components/tables/less/tables.less');
@import url('../../components/affix/less/affix.less');*/

// MAIN
/*body {
  background: url('@{path-images}texture.png') repeat;
}

.body-content {
  padding-bottom: @space * 3;
  background-color: @background-color;
}

.btn-3d {
  .border (1px solid @rojo-1);
  .gradient (@rojo, @rojo-1, -180deg, 50%, 100%);
  border-top-color: @rojo1;
  border-bottom-color: @rojo-2;

  &:hover,
  &:focus,
  &.active {
    .gradient (@rojo, @rojo-1, 0deg, 0%, 50%);
    border-top-color: @rojo-1;
    border-bottom-color: @rojo-1;
  }
}

.btn-3d-2 {
  .button (@blanco, @blanco, #7cbc27, #7cbc27);
  .text-shadow (#426d06, 1px, 0px);
  .box-shadow-inset (#a0d642, 0px, 1px, 0px, 0px);
  .border (0px, 3px);
  .gradient (#7cbc27, #62a30c);
  padding: 0px @space;
}

.header {
  position: relative;
  margin-bottom: @space * 2;
  padding: @space * 2 @space @space * 2.8 @space;

  overflow: hidden;
  text-align: center;
  background: linear-gradient(160deg, #290B36 0%, #043453 100%);

  & > h1 {
    .text-shadow (@blanco, 0px , 3px);
    color: @blanco;
    text-align: center;

    small {
      display: block;
      font-size: 50%;
    }
  }

  & > p {
    margin-bottom: 0px;
  }

  .btn-github-header {
    position: absolute;
    top: @space;
    right: @space + 6;
  }

  .designed-by-header {
    position: absolute;
    bottom: @space / 1.5;
    right: @space * 1.5;

    overflow: hidden;
    color: @blanco;

    i {
      padding-right: 12px;
      font-size: 12px;
    }

    img {
      float: right;
    }
  }
}

.footer {
  padding: @space * 2 0px @space * 4 0px;

  font-size: 12px;
  color: @blanco;
  text-align: center;

  a:not(.btn) {
    .link (@blanco, @blanco, none, underline);
  }

  span {
    margin: 0px @space / 2;
  }
}

.doc-rows {
  .row {
    background-color: #EEE;

    & > div {
      color: @blanco;

      &:nth-child(1) {background-color: #99CCFF;}
      &:nth-child(2) {background-color: #8AB8E6;}
      &:nth-child(3) {background-color: #7AA3CC;}
      &:nth-child(4) {background-color: #6B8FB2;}
      &:nth-child(5) {background-color: #5C7A99;}
      &:nth-child(6) {background-color: #4C6680;}
    }
  }
}

.custom-col-1 {
  .make-lg-column (4);
  .make-md-column (4);
  .make-sm-column (4);
  .make-xs-column (12);
}

.custom-col-2 {
  .make-lg-column (4);
  .make-md-column (4);
  .make-sm-column (4);
  .make-xs-column (12);
}

.custom-col-3 {
  .make-lg-column (4);
  .make-md-column (4);
  .make-sm-column (4);
  .make-xs-column (12);
}

//custom col no 12
.custom-col-no-12-1 {
  .make-lg-column (2.4);
  .make-md-column (2.4);
  .make-sm-column (2.4);
  .make-xs-column (12);
}

.custom-col-no-12-2 {
  .make-lg-column (2.4);
  .make-md-column (2.4);
  .make-sm-column (2.4);
  .make-xs-column (12);
}

.custom-col-no-12-3 {
  .make-lg-column (2.4);
  .make-md-column (2.4);
  .make-sm-column (2.4);
  .make-xs-column (12);
}

.custom-col-no-12-4 {
  .make-lg-column (2.4);
  .make-md-column (2.4);
  .make-sm-column (2.4);
  .make-xs-column (12);
}

.custom-col-no-12-5 {
  .make-lg-column (2.4);
  .make-md-column (2.4);
  .make-sm-column (2.4);
  .make-xs-column (12);
}

.code-block {
  .border (1px solid @gris, 2px);
  padding: @space;
}

//cargandos
.cargando,
.cargando-2 {
  position: absolute;
  z-index: 998;
}

.cargando {
  top: 47%;
  left: 50%;
  height: 40px;
  width: 40px;
}

.cargando-2 {
  display: none;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;

  opacity: 0.9;
  background: url('@{path-images}cargando-2.gif') no-repeat center 50px #FFF;
  background-size: 55px;
}

// Media Breakpoints (al final de base.less, para que no haya sobreescritura de clases y no tener que usar !important)
// XS
@media (max-width: @screen-xs-max) {

  .header {
    padding-bottom: @space;

    .btn-github-header {
      position: relative;
      top: 0px;
      right: 0px;
      left: 0px;
      margin: @space 0px @space 0px;
    }

    .designed-by-header {
      position: relative;
      bottom: 0px;
      left: 0px;
      right: 0px;
      text-align: center;

      i {
        display: block;
      }

      img {
        float: none;
      }
    }
  }

  .code-block {
    padding-left: 0px;
  }
}*/

/*// GRID COMPONENT
// SM
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}

// MD
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}

// LG
@media (min-width: @screen-lg-min) {

}

// Specials breakpoints
// XS & SM
@media (max-width: @screen-sm-max) {

}

// NO XS (todas las resoluciones menos XS)
@media (min-width: @screen-sm-min) {

}*/