/* IMPORTS */
@import url('./core/base.less'); //xstrap core

//EXTRAS
@import url('../../extra/glyphicons/less/glyphicons.less');
@import url('../../extra/lists/less/lists.less');
@import url('../../extra/breadcrumbs/breadcrumbs.less');
@import url('../../extra/pagination/pagination.less');
@import url('../../extra/offcanvas/less/offcanvas.less');
@import url('../../extra/panels/panels.less');
@import url('../../extra/buttons/buttons.less');
@import url('../../extra/forms/forms.less');
@import url('../../extra/tables/tables.less');
@import url('../../extra/input-groups/input-groups.less'); //require forms.less component
@import url('../../extra/list-group/list-group.less');
@import url('../../extra/modals/less/modals.less');
@import url('../../extra/tooltips/less/tooltip.less');
@import url('../../extra/popovers/less/popovers.less'); //require tooltip component
/* end IMPORTS */

/* MAIN */
.cargando,
.cargando-2 {
  position: absolute;
  z-index: 998;
}

.cargando {
  top: 47%;
  left: 50%;
  height: 40px;
  width: 40px;
}

.cargando-2 {
  display: none;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;

  opacity: 0.9;
  background: url('@{path-images}cargando-2.gif') no-repeat center 50px #FFF;
  background-size: 55px;
}
/* end MAIN */

//Import Media Breakpoints (al final de base.less, para que no haya sobreescritura de clases y no tener que usar !important)
@import url('main-no-xs.less');
@import url('main-xs-sm.less');
@import url('main-lg.less');
@import url('main-md.less');
@import url('main-sm.less');
@import url('main-xs.less');