// REQUIRED VARS
	// paths
	@path-images: 		'../images/';
	@path-css: 			'../css/';
	@path-components: 	'../components/';
	@path-fonts: 		'../fonts/';

	// basics
	@space: 			20px; // margin-bottom block elements
	@space-small: 		15px; // margin-bottom block elements
	@background-color:  @blanco;
	@border-radius: 	2px;
	@opacity: 			0.7;
	@shadow-color: 		rgba(0,0,0,0.2);
	@blur:				2px;
	@rotate: 			90;
	@time: 				.15s;

// colours (http://paletton.com/)
@blanco: 	#FFF;
@negro: 	#000;
@gris: 		#CCC;
@gris-2: 	#666;
@rojo: 		#FF0033;
@rojo1: 	#E60026;
@rojo-1: 	#D60023;
@rojo-2: 	#8F0014;

// fonts (imports from google fonts)
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

@ubuntu: 'Ubuntu', sans-serif;