// colours (http://paletton.com/)
@blanco: 	#FFF;
@negro: 	#000;
@gris: 		#CCC;
@gris-2: 	#666;
@rojo: 		#d9534f;
@rojo1: 	#E60026;
@rojo-1: 	#D60023;
@rojo-2: 	#8F0014;

// fonts (imports from google fonts)
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

@ubuntu: 'Ubuntu', sans-serif;