// A través del archivo vars.less, se tiene que poder modificar las variables de los archivos del core base.less, grid.less, print.less, responsive-utilities.less y utilities.less
// Los mixins "beberán" de dichas variables.

// GRID SYSTEM
	// BREAKPOINTS
	// xs
	@screen-xs:     480px;
	@screen-xs-min: @screen-xs;
	@screen-phone:  @screen-xs-min;

	// sm
	@screen-sm:     768px;
	@screen-sm-min: @screen-sm;
	@screen-tablet: @screen-sm-min;

	// md
	@screen-md:      992px;
	@screen-md-min:  @screen-md;
	@screen-desktop: @screen-md-min;

	// lg
	@screen-lg:         1200px;
	@screen-lg-min:     @screen-lg;
	@screen-lg-desktop: @screen-lg-min;

	// specials breakpoints
	@screen-xs-max: (@screen-sm-min - 1);
	@screen-sm-max: (@screen-md-min - 1);
	@screen-md-max: (@screen-lg-min - 1);

	// columns
	@grid-columns:      12; //grid base. Se pueden crear grid no multiplos de 12 específicos sin necesidad de cambiar el base.
	@grid-gutter-width: 30px;

	// CONTAINERS
	// sm
	// @container-tablet: (720px + @grid-gutter-width);
	@container-sm: auto;

	// md
	@container-desktop: (940px + @grid-gutter-width);
	@container-md:      @container-desktop;

	// lg
	@container-large-desktop: (1140px + @grid-gutter-width);
	@container-lg:            @container-large-desktop;

// GENERICS
	// paths
	@path-images: 		'../images/';
	@path-css: 			'../css/';
	@path-components: 	'../components/';
	@path-fonts: 		'../fonts/';

	// basics
	@space: 			20px; // margin-bottom block elements
	@space-small: 		15px; // margin-bottom block elements

	@background-color:  @blanco;
	@border-radius: 	2px;
	@opacity: 			0.7;
	@shadow-color: 		rgba(0,0,0,0.2);
	@blur:				2px;
	@rotate: 			90;
	@time: 				.15s;

	// colours (http://paletton.com/)
	@blanco: 	#FFF;
	@negro: 	#000;
	@gris: 		#CCC;
	@gris-2: 	#666;
	@rojo: 		#FF0033;
	@rojo1: 	#E60026;
	@rojo-1: 	#D60023;
	@rojo-2: 	#8F0014;

	// fonts (imports from google fonts)
	@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400);

	@ubuntu: 'Ubuntu', sans-serif;

	// text-base
	@font-family: 		@ubuntu;
	@font-size:   		14px;
	@font-size-small:   12px;
	@font-weight: 		400;
	@font-style:		normal;
	@color: 			@negro;
	@line-height: 		180%;
	@letter-spacing: 	auto;
	@text-align: 		left;
	@text-transform: 	normal;
	@text-indent: 		@space; //.text-indent (class)

	// special classes
	@lowlight-color: 	@gris;
	@highlight-color: 	@gris-2;

// HTML ELEMENTS
	// links
	@a-color:					@rojo;
	@a-color-hover: 			@rojo1;
	@a-text-decoration: 		none;
	@a-text-decoration-hover: 	none;
	@a-background-color: 		transparent;
	@a-background-color-hover: 	transparent;

	// titles
	@h1-font-family: @font-family;
	@h2-font-family: @font-family;
	@h3-font-family: @font-family;
	@h4-font-family: @font-family;
	@h5-font-family: @font-family;
	@h6-font-family: @font-family;

	@h1-font-size: 			32px;
	@h1-font-size-xs-sm: 	@h1-font-size - 4px;
	@h2-font-size: 			28px;
	@h2-font-size-xs-sm: 	@h2-font-size - 4px;
	@h3-font-size: 			18px;
	@h3-font-size-xs-sm: 	@h3-font-size - 4px;
	@h4-font-size: 			14px;
	@h4-font-size-xs-sm: 	@h4-font-size - 2px;
	@h5-font-size: 			14px;
	@h5-font-size-xs-sm: 	@h5-font-size - 2px;
	@h6-font-size: 			@font-size;
	@h6-font-size-xs-sm: 	@font-size-small;

	@h1-font-weight: @font-weight;
	@h2-font-weight: @font-weight;
	@h3-font-weight: @font-weight;
	@h4-font-weight: @font-weight;
	@h5-font-weight: @font-weight;
	@h6-font-weight: @font-weight;

	@h1-font-style: @font-style;
	@h2-font-style: @font-style;
	@h3-font-style: @font-style;
	@h4-font-style: @font-style;
	@h5-font-style: @font-style;
	@h6-font-style: @font-style;

	@h1-color: @color;
	@h2-color: @rojo1;
	@h3-color: @color;
	@h4-color: @color;
	@h5-color: @color;
	@h6-color: @color;

	@h1-text-transform: @text-transform;
	@h2-text-transform: @text-transform;
	@h3-text-transform: @text-transform;
	@h4-text-transform: @text-transform;
	@h5-text-transform: @text-transform;
	@h6-text-transform: @text-transform;

	@h1-line-height: 120%;
	@h2-line-height: @line-height;
	@h3-line-height: @line-height;
	@h4-line-height: @line-height;
	@h5-line-height: @line-height;
	@h6-line-height: @line-height;

	@h1-text-align: @text-align;
	@h2-text-align: @text-align;
	@h3-text-align: @text-align;
	@h4-text-align: @text-align;
	@h5-text-align: @text-align;
	@h6-text-align: @text-align;

	// marked text
	@mark-padding: 2px 5px;

	@mark-color: 			@negro;
	@mark-background-color: @gris;

	// small
	@small-font-size: 70%;

	// blockquotes
	@blockquote-padding: 			@space;

	@blockquote-font-size: 			12px;
	@blockquote-color: 				@gris-2;
	@blockquote-small-font-size: 	11px;
	@blockquote-small-color: 		@gris;
	@blockquote-border-left: 		5px solid @gris;

	// caption
	@caption-padding: 0px;

	@caption-color: 		@color;
	@caption-text-align: 	left;

	// lists
	@list-item-margin-bottom: 	@space / 2;
	@sublist-padding-left: 		@space;

	@list-style-position: 		inside;
	@ol-list-style-type:		normal; //normal, upper-roman, lower-alpha
	@ol-list-style-color:		@color;

	// CODE
		// inline
		@code-padding: 			2px 4px;

		@code-font-family: 		'Courier New', sans-serif;
		@code-font-size: 		@font-size;
		@code-font-weight: 		@font-weight;
		@code-font-style: 		@font-style;
		@code-color: 			@blanco;
		@code-background-color: @negro;
		@code-border:  			1px solid @negro;
		@code-border-radius: 	@border-radius;

		// kbd
		@kbd-padding: 			@code-padding;

		@kbd-font-family: 		@code-font-family;
		@kbd-font-size: 		@code-font-size;
		@kbd-font-weight: 		@code-font-weight;
		@kbd-font-style: 		@code-font-style;
		@kbd-color: 			@code-color;
		@kbd-background-color: 	@code-background-color;
		@kbd-border:  			@code-border;
		@kbd-border-radius: 	@code-border-radius;

		// pre
		@pre-padding: 			@code-padding;

		@pre-font-family: 		@code-font-family;
		@pre-font-size: 		@code-font-size;
		@pre-font-weight: 		@code-font-weight;
		@pre-font-style: 		@code-font-style;
		@pre-color: 			@code-color;
		@pre-background-color: 	@code-background-color;
		@pre-border: 			@code-border;
		@pre-border-radius: 	@code-border-radius;