// ----- CORE ----- //
// paths
@path-components: '../xstrap/';
@path-images: '../../images/';
@path-css: '../../css/';
@path-fonts: '../../fonts/';

// vars required by core
@space: 22px; // margin-bottom block elements
@space-small: 15px; // margin-bottom block elements
@border-radius: 3px;
@opacity: 0.7;
@shadow-color: rgba(0,0,0,0.4);
@blur: 2px;
@rotate: 90;
@time: 0.15s;

// ----- GRID ----- //
// xs
@screen-xs:     480px;
@screen-xs-min: @screen-xs;
@screen-phone:  @screen-xs-min;

// sm
@screen-sm:     768px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;

// md
@screen-md:      992px;
@screen-md-min:  @screen-md;
@screen-desktop: @screen-md-min;

// lg
@screen-lg:         1200px;
@screen-lg-min:     @screen-lg;
@screen-lg-desktop: @screen-lg-min;

// specials breakpoints
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

// columns
@grid-columns:      12; //grid base. Se pueden crear grid no multiplos de 12 específicos sin necesidad de cambiar el base.
@grid-gutter-width: 30px;

// CONTAINERS
// sm
// @container-tablet: (720px + @grid-gutter-width);
@container-sm: auto;

// md
@container-desktop: (940px + @grid-gutter-width);
@container-md:      @container-desktop;

// lg
@container-large-desktop: (1140px + @grid-gutter-width);
@container-lg:            @container-large-desktop;

// ----- TEXTS ----- //
// colours (http://paletton.com/)
@blanco: #FFFFFF;
@negro: #473D41;
@gris: #C5C8C6;

// fonts
@font-base: 'Verdana', sans-serif;
@font-title: 'Verdana', sans-serif;
@font-code: 'Verdana', sans-serif;

// body
@background-color: @blanco;

// text-base
@font-family: @font-base;
@font-size: 16px;
@font-size-small: 14px;
@font-weight: 400;
@font-style: normal;
@color: @negro;
@line-height: 200%;
@letter-spacing: auto;
@text-align: left;
@text-transform: none;
@text-indent: @space; //.text-indent (class)

// special classes
@lowlight-color: @color;
@highlight-color: @color;

// links
@a-color: @gris;
@a-color-hover: @negro;
@a-text-decoration: none;
@a-text-decoration-hover: none;
@a-background-color: transparent;
@a-background-color-hover: transparent;
@a-cursor: pointer;

// titles
@h1-font-family: @font-title;
@h2-font-family: @font-title;
@h3-font-family: @font-title;
@h4-font-family: @font-title;
@h5-font-family: @font-title;
@h6-font-family: @font-title;
@h1-font-size: 42px;
@h1-font-size-small: @h1-font-size - 2px;
@h2-font-size: 30px;
@h2-font-size-small: @h2-font-size - 2px;
@h3-font-size: 23px;
@h3-font-size-small: @h3-font-size - 2px;
@h4-font-size: 18px;
@h4-font-size-small: @h4-font-size - 2px;
@h5-font-size: @font-size + 2px;
@h5-font-size-small: @h5-font-size - 2px;
@h6-font-size: @font-size;
@h6-font-size-small: @font-size-small;
@h1-font-weight: 300;
@h2-font-weight: 400;
@h3-font-weight: 400;
@h4-font-weight: 400;
@h5-font-weight: 700;
@h6-font-weight: 700;
@h1-font-style: @font-style;
@h2-font-style: @font-style;
@h3-font-style: @font-style;
@h4-font-style: @font-style;
@h5-font-style: @font-style;
@h6-font-style: @font-style;
@h1-color: @gris;
@h2-color: @gris;
@h3-color: @color;
@h4-color: @color;
@h5-color: @color;
@h6-color: @color;
@h1-text-transform: @text-transform;
@h2-text-transform: @text-transform;
@h3-text-transform: @text-transform;
@h4-text-transform: @text-transform;
@h5-text-transform: @text-transform;
@h6-text-transform: @text-transform;
@h1-line-height: 100%;
@h2-line-height: 100%;
@h3-line-height: 100%;
@h4-line-height: 100%;
@h5-line-height: 100%;
@h6-line-height: 100%;
@h1-text-align: center;
@h2-text-align: @text-align;
@h3-text-align: @text-align;
@h4-text-align: @text-align;
@h5-text-align: @text-align;
@h6-text-align: @text-align;

// marked text
@mark-padding: 2px 5px;
@mark-color: @color;
@mark-background-color: @gris;

// small
@small-font-size: 70%;

// blockquotes
@blockquote-padding: @space;
@blockquote-font-size: @font-size-small;
@blockquote-font-style: italic;
@blockquote-color: @color;
@blockquote-small-font-size: 11px;
@blockquote-small-color: @color;
@blockquote-border-left: 3px solid @blanco;

// caption
@caption-padding: 0;
@caption-color: @color;
@caption-text-align: left;

// CODE
// inline
@code-padding: 2px 4px;
@code-font-family: @font-code;
@code-font-size: @font-size;
@code-font-weight: @font-weight;
@code-font-style: @font-style;
@code-color: @blanco;
@code-background-color: @negro;
@code-border: 0;
@code-border-radius: @border-radius;

// kbd
@kbd-padding: 2px 6px;
@kbd-font-family: @code-font-family;
@kbd-font-size: 12px;
@kbd-font-weight: 700;
@kbd-font-style: @code-font-style;
@kbd-color: @code-color;
@kbd-background-color: @code-background-color;
@kbd-border: @code-border;
@kbd-border-radius: @code-border-radius;

// pre
@pre-padding: @code-padding;
@pre-font-family: @code-font-family;
@pre-font-size: @code-font-size;
@pre-font-weight: @code-font-weight;
@pre-font-style: @code-font-style;
@pre-color: @code-color;
@pre-background-color: @code-background-color;
@pre-border: @code-border;
@pre-border-radius: @code-border-radius;

// lists
@list-item-margin-bottom: 1px;
@sublist-padding-left: 15px;
@list-style-position: inside;
@ol-list-style-type: normal; //normal, upper-roman, lower-alpha
@ol-list-style-color: @negro;
@styled-list-style-image: '@{path-components}texts/images/list-styled-icon.gif';
@dd-float-breakpoint: @screen-md;
@dl-horizontal-offset: 180px;

// ----- GLYPHICONS ----- //
@glyphicon: 'Glyphicons Halflings';
