// colours (http://paletton.com/)
@blanco: #FFFFFF;
@negro: #473D41;
@gris: #C5C8C6;

// fonts
@font-base: 'Verdana', sans-serif;
@font-title: 'Verdana', sans-serif;
@font-code: 'Verdana', sans-serif;
