// *
* {
  .box-sizing (border-box);

  &:before,
  &:after {
    .box-sizing (border-box);
  }
}

// html
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// img
img {
  vertical-align: middle;
}

// figure
figure {
  margin: 0;
}

// iframe
iframe {
  .border (0px, 0px);
}