//ATENCIÓN: Base.less tiene incorporado de serie el código less de Scaffolding.less de Bootstrap. No es necesario importarlo.
/* IMPORTS */
//vars
@import url('vars.less');

//mixins
@import url('./mixins/clearfix.less');
@import url('./mixins/grid.less');
@import url('./mixins/grid-framework.less');
@import url('./mixins/responsive-visibility.less');
@import url('./mixins/vendor-prefixes.less');
@import url('./mixins/image.less');
@import url('./mixins/center-block.less');
@import url('./mixins/hide-text.less');
@import url('./mixins/opacity.less');
@import url('./mixins/mixins.less');

//less
@import url('normalize.less');
@import url('grid.less');
@import url('print.less');
@import url('utilities.less');
@import url('responsive-utilities.less');
/* end IMPORTS */

/* XSTRAP BASE */
* {
  .box-sizing(border-box);
}
*:before,
*:after {
  .box-sizing(border-box);
}

//html
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
//end html

//body
body {
  .text (); //valores por defecto "text-base" en .text ()
  background-color: @background-color;
}
//end body

//links
a {
  &:not(.btn) {
    .link (); //valores por defecto "links" en .link ()
    .not-outline ();
    .transition ();

    &:hover {
      .badge {
        .transition ();
      }
    }
  }
}
//end links

//titles
h1 {.text (@h1-font-family, @h1-font-size, @h1-font-weight, @h1-font-style, @h1-color, @h1-text-align, @h1-text-transform, @h1-line-height);}
h2 {.text (@h2-font-family, @h2-font-size, @h2-font-weight, @h2-font-style, @h2-color, @h2-text-align, @h2-text-transform, @h2-line-height);}
h3 {.text (@h3-font-family, @h3-font-size, @h3-font-weight, @h3-font-style, @h3-color, @h3-text-align, @h3-text-transform, @h3-line-height);}
h4 {.text (@h4-font-family, @h4-font-size, @h4-font-weight, @h4-font-style, @h4-color, @h4-text-align, @h4-text-transform, @h4-line-height);}
h5 {.text (@h5-font-family, @h5-font-size, @h5-font-weight, @h5-font-style, @h5-color, @h5-text-align, @h5-text-transform, @h5-line-height);}
h6 {.text (@h6-font-family, @h6-font-size, @h6-font-weight, @h6-font-style, @h6-color, @h6-text-align, @h6-text-transform, @h6-line-height);}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px @space 0px;
}
//end titles

//paragraphs
p {
  margin: 0px 0px @space 0px;
}
//end paragraphs

//marked text
mark {
  padding:    @mark-padding;

  color:      @mark-color;
  background: @mark-background-color none repeat scroll 0% 0%;
}
//end marked text

//abbr
abbr {
  &[title],
  &[data-original-title] {
    border-bottom: 0px;
  }
}
//end abbr

//address
address {
  margin: 0px 0px @space 0px;
}
//end address

//blockquote
blockquote {
  margin: 0px 0px @space 0px;
  padding: @blockquote-padding;

  font-size: @blockquote-font-size;
  border-left: @blockquote-border-left;

  p, ol, ul {
    margin: 0px 0px @space / 2 0px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  footer,
  small {
    display: block;
    font-size: @blockquote-small-font-size;
    color: @blockquote-small-color;

    &:before {
      content: '\2014 \00A0';
    }
  }
}
//end blockquote

//lists
ul,
ol {
  margin: 0px 0px @space 0px;
  padding: 0px;

  list-style-position: @list-style-position;

  li {
    margin: 0px 0px @list-item-margin-bottom 0px;

    &:last-child {
      margin-bottom: 0px;
    }

    &.li-no-icon {
      list-style: none;
    }

    ul,
    ol {
      margin-bottom: 0px;
      padding-left: @sublist-padding-left;
    }
  }
}

ul {
  &:not(.list-styled) {
    list-style: none;
  }

  &.list-styled {
    list-style-image: url(@styled-list-style-image);
  }
}

ol {
  list-style-type: @ol-list-style-type;
  color: @ol-list-style-color;
}

dl {
  margin: 0px 0px @space 0px;

  dt,
  dd {
    margin: 0px 0px @list-item-margin-bottom 0px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  dt {
    font-weight: 400;
  }

  dl {
    margin-bottom: 0px;
    padding-left: @sublist-padding-left;
  }
}
//end lists

//code
code {
  .text (@code-font-family, @font-size, @font-weight, @font-style, @code-color);
  .border (@code-border, @code-border-radius);
  padding: @code-padding;
  background-color: @code-background-color;
}
//end code

//kbd
kbd {
  .text (@code-font-family, @font-size, @font-weight, @font-style, @kbd-color);
  .border (@kbd-border, @kbd-border-radius);
  .box-shadow ();
  padding: @kbd-padding;
  background-color: @kbd-background-color;
}
//kbd

//pre
pre {
  display: block;
  padding: 9.5px;
  margin: 0px 0px 10px;
  font-size: 13px;
  line-height: 1.42857;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  border-radius: 4px;
}
//end pre

//label
label {
  .text (@label-font-family, @label-font-size, @label-font-weight, @label-font-style, @label-color);
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  cursor: pointer;
}
//end label

//inputs
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  resize: none;
}

select,
input [type="radio"],
input [type="checkbox"],
[role="button"] {
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;

  &[disabled],
  fieldset[disabled] & {
    .disabled ();
  }
}

input[type="search"] {
  .box-sizing(border-box);
  -webkit-appearance: none;
}

input[type="file"] {
  display: block;
}

input[type="range"] {
  display: block;
  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}
//end inputs

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @line-height;
  font-size: (@font-size * 1.5);
  line-height: inherit;
  color: @color;
  border: 0;
  border-bottom: 1px solid @color;
}

//img
img {
  vertical-align: middle;
}
//end img

//hr
hr {
  margin: @space 0px @space 0px;
}
//end hr

//iframe
iframe {
  .border (0px, 0px);
}
//end iframe

//figure
figure {
  margin: 0;
}
//end figure

// Adjust output element
/*output {
  display: block;
  padding-top: (@padding-base-vertical + 1);
  font-size: @font-size-base;
  line-height: @line-height;
  color: @input-color;
}*/
/* end XSTRAP BASE */

/* MEDIA BREAKPOINTS */
/* NO XS */
@media (min-width: @screen-sm-min) {

}
/* end NO XS */

/* XS & SM */
@media (max-width: @screen-sm-max) {
  body {
    font-size: @font-size-xs-sm;
  }

  //titles
  h1 { font-size: @h1-font-size-xs-sm; }
  h2 { font-size: @h2-font-size-xs-sm; }
  h3 { font-size: @h3-font-size-xs-sm; }
  h4 { font-size: @h4-font-size-xs-sm; }
  h5 { font-size: @h5-font-size-xs-sm; }
  h6 { font-size: @h6-font-size-xs-sm; }

  h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px @space-xs-sm 0px;
  }
  //end titles

  //paragraph
  p {
    margin: 0px 0px @space-xs-sm 0px;
    font-size: @font-size-xs-sm;
  }
  //end paragraph

  //address
  address {
    margin: 0px 0px @space-xs-sm 0px;
  }
  //end address

  //blockquote
  blockquote {
    margin: 0px 0px @space-xs-sm 0px;
  }
  //end blockquote

  //lists
  ul,
  ol {
    margin: 0px 0px @space-xs-sm 0px;
  }
  //end lists

  //dl
  dl {
    margin: 0px 0px @space-xs-sm 0px;
  }
  //end dl

  //hr
  hr {
    margin: @space-xs-sm 0px @space-xs-sm 0px;
  }
  //end hr

  .space {
    margin: 0px 0px @space-xs-sm 0px;
  }
}
/* end XS & SM */

/* XS */
@media (max-width: @screen-xs-max) {

}
/* end XS */

/* SM */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

}
/* end SM */

/* MD */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

}
/* end MD */

/* LG */
@media (min-width: @screen-lg-min) {

}
/* end LG */
/* end MEDIAS */