// ATENCIÓN:
// Base.less tiene incorporado de serie los siguientes less de bootstrap:
// scaffolding.less
// type.less
// utilities.less

// IMPORTS
// vars (xstrap control core)
//@import url('vars.less');

// mixins (required by core)
@import url('./mixins/clearfix.less');
@import url('./mixins/box-sizing.less');

// mixins (required by multiple components)
@import url('./mixins/not-outline.less');
@import url('./mixins/transition.less');
@import url('./mixins/text.less');
@import url('./mixins/space.less');
@import url('./mixins/border.less');

/*@import url('./mixins/grid-framework.less');
@import url('./mixins/grid.less');
@import url('./mixins/space.less');

@import url('./mixins/center-block.less');
@import url('./mixins/hide-text.less');
@import url('./mixins/disabled.less');
@import url('./mixins/image.less');
@import url('./mixins/responsive-visibility.less');
@import url('./mixins/vendor-prefixes.less');
@import url('./mixins/text.less');
@import url('./mixins/link.less');
@import url('./mixins/not-outline.less');
@import url('./mixins/border.less');*/

// mixins (not required by core, but maybe by components)
/*@import url('./mixins/opacity.less');
@import url('./mixins/background-cover.less');
@import url('./mixins/gradient.less');*/
//@import url('./mixins/animate.less');
//@import url('./mixins/shadows.less');

// less (xstrap core)
@import url('normalize.less');
//@import url('utilities.less');

/*
@import url('grid.less');
@import url('print.less');

@import url('responsive-utilities.less');*/

// XSTRAP Base
* {
  .box-sizing (border-box);

  &:before,
  &:after {
    .box-sizing (border-box);
  }
}

// html
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}



// Clases genéricas para usar directamente en el HTML.
// Solamente para casos excepcionales.

.clearfix { .clearfix (); }
//.relative         { position: relative; }
//.absolute         { position: absolute; }
//.sin-margin       { margin: 0px; }
//.sin-padding      { padding: 0px; }
//.overhidden       { overflow: hidden; }
//.space            { .space (); }
//.block            { display: block; }
//.pointer          { cursor: pointer; }
//.vertical-center  { vertical-align: middle; }
//.center-block     { .center-block (); }
//.pull-right       { float: right !important; }
//.pull-left        { float: left !important; }
//.hide           { display: none !important; }
//.hidden           { display: none !important; }
//.show             { display: block !important; }
//.invisible        { visibility: hidden; }
//.text-hide        { .text-hide (); }
//.disabled         { .disabled (); }
//.text-indent      { text-indent: @text-indent; }
//.text-highlight   { color: @highlight-color; }
//.text-lowlight    { color: @lowlight-color; }
//.text-left        { text-align: left; }
//.text-right       { text-align: right; }
//.text-center      { text-align: center; }
//.text-justify     { text-align: justify; }
//.text-nowrap      { white-space: nowrap; }

/*.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}*/

/*.img-responsive {
  .img-responsive ();

  &.img-responsive-max {
    width: 100%;
  }

  &.img-responsive-center {
    .center-block ();
  }
}*/

/*
// legend
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: @line-height;
  font-size: (@font-size * 1.5);
  line-height: inherit;
  color: @color;
  border: 0;
  border-bottom: 1px solid @color;
}

//img
img {
  vertical-align: middle;
}

//hr
hr {
  .space ();
  //margin: @space 0px @space 0px;
}

//iframe
iframe {
  .border (0px, 0px);
}

//figure
figure {
  margin: 0;
}*/

// Adjust output element
/*output {
  display: block;
  padding-top: (@padding-base-vertical + 1);
  font-size: @font-size-base;
  line-height: @line-height;
  color: @input-color;
}*/