@import url('vars.less');

.affix {
	position: fixed;
}

.affix-bottom {
	position: absolute;
}

.affix,
.affix-top,
.affix-bottom {
    .nav {
        .active {
            & > a {
                .link (@blanco, @blanco, none, none, @rojo, @rojo);
                padding: 5px;
            }
        }
    }
}