// text-shadow
.text-shadow (
		@shadow-color: 	@shadow-color,
		@size: 			0px,
		@blur: 			@blur
	){

	-webkit-text-shadow: -@size @size @blur @shadow-color; // iOS <4.3 & Android <4.1
	-moz-text-shadow: -@size @size @blur @shadow-color;
	text-shadow: -@size @size @blur @shadow-color;
}

// box-shadows
.box-shadow (
		@shadow-color: 		@shadow-color,
		@shadow-width:		0px,
		@shadow-height: 	0px,
		@shadow-radius:		0px,
		@shadow-size:		0px
	){

	-webkit-box-shadow: @shadow-width @shadow-height @shadow-radius @shadow-size @shadow-color;
	-moz-box-shadow: @shadow-width @shadow-height @shadow-radius @shadow-size @shadow-color;
	box-shadow: @shadow-width @shadow-height @shadow-radius @shadow-size @shadow-color;
}

.box-shadow-inset (
		@shadow-color: 		@shadow-color,
		@shadow-width:		0px,
		@shadow-height: 	0px,
		@shadow-radius:		0px,
		@shadow-size:		0px
	){

	-webkit-box-shadow: @shadow-width @shadow-height @shadow-radius @shadow-size @shadow-color inset;
	-moz-box-shadow: @shadow-width @shadow-height @shadow-radius @shadow-size @shadow-color inset;
	box-shadow: @shadow-width @shadow-height @shadow-radius @shadow-size @shadow-color inset;
}