// label
@label-margin-bottom: 5px;

@label-font-family: @font-family;
@label-font-size: 	16px;
@label-font-weight: @font-weight;
@label-font-style: 	@font-style;
@label-color: 		@rojo1;

// inputs
@input-height:  		35px;
@input-margin-bottom: 	@space;
@input-padding: 		5px 10px;

@input-font-family:             @font-family;
@input-font-size:               @font-size;
@input-font-weight:             @font-weight;
@input-font-style:              @font-style;
@input-color:                   @color;
@input-background-color:        rgba(255, 255, 255, 0.01);
@input-border:                  1px solid @gris;
@input-border-radius:           0px;
@input-border-color-focus:      @gris;
@input-box-shadow-color:        transparent;
@input-box-shadow-color-focus:  transparent;
@input-box-shadow-blur:         0px;

@input-placeholder-color: #CCC;
@form-group-margin-bottom: @space;

@checkbox-padding-left: @space;