// label
@label-margin-bottom: 5px;

@label-font-family: @geared;
@label-font-size: 	16px;
@label-font-weight: @font-weight;
@label-font-style: 	@font-style;
@label-color: 		@gris;

// inputs
@input-height:  		35px;
@input-margin-bottom: 	@space;
@input-padding: 		5px 10px;

@input-font-family:             @font-family;
@input-font-size:               @font-size;
@input-font-weight:             @font-weight;
@input-font-style:              @font-style;
@input-color:                   @cyan;
@input-background-color:        rgba(255, 255, 255, 0.01);
@input-border:                  1px solid @gris-2;
@input-border-radius:           0px;
@input-border-color-focus:      @cyan;
@input-box-shadow-color:        transparent;
@input-box-shadow-color-focus:  transparent;
@input-box-shadow-blur:         0px;
@input-direction: 				ltr;

@input-placeholder-color: 	@gris-2;
@form-group-margin-bottom: 	@space / 2;

@checkbox-padding-left: @space;