// vars
@import url('vars.less');

.affix {
	position: fixed;
}

.affix-bottom {
	position: absolute;
}

.affix,
.affix-top,
.affix-bottom {
    .nav {
        a {
            .link (@affix-a-color, @affix-a-color-hover, @affix-a-text-decoration, @affix-a-text-decoration-hover, @affix-a-background-color, @affix-a-background-color-hover);
        }

        .active {
            & > a {
                .link (@affix-a-active-color, @affix-a-active-color-hover, @affix-a-active-text-decoration, @affix-a-active-text-decoration-hover, @affix-a-active-background-color, @affix-a-active-background-color-hover);
                padding: @affix-a-active-padding;
            }

            // subactive
            .active {
                & > a {
                    .link (@affix-a-subactive-color, @affix-a-subactive-color-hover, @affix-a-subactive-text-decoration, @affix-a-subactive-text-decoration-hover, @affix-a-subactive-background-color, @affix-a-subactive-background-color-hover);
                }
            }
        }
    }
}