// vars
@import url('vars.less');

.affix {
	position: fixed;
}

.affix-bottom {
	position: absolute;
}

/*.affix,
.affix-top,
.affix-bottom {
    .nav {
        ul {
            display: none;
            //max-height: 300px;
            //overflow-x: hidden;
        }

        .active {
            ul {
                display: block;
            }
        }
    }
}*/